body, html {
    background-color: black;
}

.board, .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 384;
    height: 384;
}

.layer-background {
    z-index: 2000;
}

.layer-foreground {
    z-index: 4000;
}