.board span {
    position: absolute;
    display: block;
    width: 32px;
    height: 48px;
    line-height: 32px;
    font-size: 22px;
    text-align: center;
    margin-top: -16px;
    color: #e7c7b6;
    background-image: url(../sprites/space-adventure-go.png);
    overflow: hidden;
    transition: 0.2s;
}

.board span.wall    { background-position-x: 0px;}
.board span.floor   { background-position-x: -32px; }
.board span.box     { background-position-x: -64px; }
.board span.hero    { background-position-x: -96px; }